# PROJECT UAS DATA MINING DAN DATA WAREHOUSE

Kelompok 1

Anggota :
- 2210511046 - Hanifah Azzahra
- 2210511052 - Widya Amellia Putri
- 2210511056 - Adinda Rizki Sya'bana Diva
- 2210511068 - Muhammad Nur Alam
- 2210511075 - Kemas Alauddin Riayat Syah Indrakusuma
- 2210511084 - Dzulfikri Adjmal

## Data Wrangling

### Gathering & Assesing Data

In [9]:
import pandas as pd
import numpy as np

# Classification and Clustering Libraries
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./Dataset/Airline-Passenger-Satisfaction/train.csv', index_col=0)
df_test = pd.read_csv('./Dataset/Airline-Passenger-Satisfaction/test.csv', index_col=0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103904 non-null  int64
 1   Gender                             103904 non-null  object
 2   Customer Type                      103904 non-null  object
 3   Age                                103904 non-null  int64
 4   Type of Travel                     103904 non-null  object
 5   Class                              103904 non-null  object
 6   Flight Distance                    103904 non-null  int64
 7   Inflight wifi service              103904 non-null  int64
 8   Departure/Arrival time convenient  103904 non-null  int64
 9   Ease of Online booking             103904 non-null  int64
 10  Gate location                      103904 non-null  int64
 11  Food and drink                     103904 non-null  int64
 12  Online boarding                    103904 non-null  int64
 13  Seat comfort                       103904 non-null  int64
 14  Inflight entertainment             103904 non-null  int64
 15  On-board service                   103904 non-null  int64
 16  Leg room service                   103904 non-null  int64
 17  Baggage handling                   103904 non-null  int64
 18  Checkin service                    103904 non-null  int64
 19  Inflight service                   103904 non-null  int64
 20  Cleanliness                        103904 non-null  int64
 21  Departure Delay in Minutes         103904 non-null  int64
 22  Arrival Delay in Minutes           103594 non-null  float64
 23  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.8+ MB

In [12]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25976 entries, 0 to 25975
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 25976 non-null  int64
 1   Gender                             25976 non-null  object
 2   Customer Type                      25976 non-null  object
 3   Age                                25976 non-null  int64
 4   Type of Travel                     25976 non-null  object
 5   Class                              25976 non-null  object
 6   Flight Distance                    25976 non-null  int64
 7   Inflight wifi service              25976 non-null  int64
 8   Departure/Arrival time convenient  25976 non-null  int64
 9   Ease of Online booking             25976 non-null  int64
 10  Gate location                      25976 non-null  int64
 11  Food and drink                     25976 non-null  int64
 12  Online boarding                    25976 non-null  int64
 13  Seat comfort                       25976 non-null  int64
 14  Inflight entertainment             25976 non-null  int64
 15  On-board service                   25976 non-null  int64
 16  Leg room service                   25976 non-null  int64
 17  Baggage handling                   25976 non-null  int64
 18  Checkin service                    25976 non-null  int64
 19  Inflight service                   25976 non-null  int64
 20  Cleanliness                        25976 non-null  int64
 21  Departure Delay in Minutes         25976 non-null  int64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 5.0+ MB

In [13]:
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [14]:
df_test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [15]:
df.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [16]:
df_test.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.000000,25976.00000,25893.000000
mean,65005.657992,39.620958,1193.788459,2.724746,3.046812,2.756775,2.977094,3.215353,3.261665,3.449222,3.357753,3.385664,3.350169,3.633238,3.314175,3.649253,3.286226,14.30609,14.740857
std,37611.526647,15.135685,998.683999,1.335384,1.533371,1.412951,1.282133,1.331506,1.355536,1.320090,1.338299,1.282088,1.318862,1.176525,1.269332,1.180681,1.319330,37.42316,37.517539
min,17.000000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000
25%,32170.500000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.00000,0.000000
50%,65319.500000,40.000000,849.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.00000,0.000000
75%,97584.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.00000,13.000000
max,129877.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1128.00000,1115.000000

### Data Cleaning - Alam

Membersihkan missing value dan menghapus kolom indeks pada data, kemudian disimpan ke file `.csv`

Melihat total jumlah missing value di setiap kolom

In [17]:
df.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [18]:
df_test.isnull().sum()

id                                    0
Gender                                0
Customer Type                         0
Age                                   0
Type of Travel                        0
Class                                 0
Flight Distance                       0
Inflight wifi service                 0
Departure/Arrival time convenient     0
Ease of Online booking                0
Gate location                         0
Food and drink                        0
Online boarding                       0
Seat comfort                          0
Inflight entertainment                0
On-board service                      0
Leg room service                      0
Baggage handling                      0
Checkin service                       0
Inflight service                      0
Cleanliness                           0
Departure Delay in Minutes            0
Arrival Delay in Minutes             83
satisfaction                          0
dtype: int64

Membersihkan Missing Value

In [19]:
df_cleaned = df.dropna()

In [20]:
df_cleaned_test = df_test.dropna()

In [21]:
df_cleaned.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [22]:
df_cleaned_test.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

Menghapus Kolom index

In [23]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [24]:
df_cleaned_test = df_cleaned_test.reset_index(drop=True)

Data Yang Sudah Dibersihkan

In [25]:
df_cleaned.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [26]:
df_cleaned_test.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [27]:
df_cleaned.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000
mean,64942.428625,39.380466,1189.325202,2.729753,3.060081,2.756984,2.977026,3.202126,3.250497,3.439765,3.358341,3.382609,3.351401,3.631687,3.304323,3.640761,3.286397,14.747939,15.178678
std,37460.816597,15.113125,997.297235,1.327866,1.525233,1.398934,1.277723,1.329401,1.349433,1.318896,1.333030,1.288284,1.315409,1.181051,1.265396,1.175603,1.312194,38.116737,38.698682
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32562.250000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64890.000000,40.000000,842.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97370.500000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [28]:
df_cleaned_test.describe()

,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000,25893.000000
mean,65021.974858,39.621983,1193.753254,2.723709,3.046422,2.755996,2.976442,3.214923,3.261615,3.448886,3.356969,3.385587,3.349786,3.632681,3.313907,3.648824,3.285521,14.225080,14.740857
std,37606.098635,15.134224,998.626779,1.334711,1.532971,1.412552,1.281661,1.331895,1.355505,1.320254,1.338643,1.282033,1.319045,1.176220,1.269138,1.180650,1.319355,37.185919,37.517539
min,17.000000,7.000000,31.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,32209.000000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,65344.000000,40.000000,849.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97623.000000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129877.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1128.000000,1115.000000

Menggabungkan dataframe

In [29]:
df_merge = pd.concat([df_cleaned, df_cleaned_test], ignore_index=True)
df_merge.shape

(129487, 24)

Menyimpan dataframe yang sudah digabung ke dalam file `.csv`

In [30]:
output_file_path = './Dataset/Airline-Passenger-Satisfaction/merge_cleaned_data.csv'
df_merge.to_csv(output_file_path, index=False)

## EDA (Exploratory Data Analysis)

### Pertanyaan Analisis

- Layanan apa yang memberikan kepuasan penumpang tertinggi?
- Berapa rata-rata penilaian pelanggan untuk semua layanan?
- Bagaimana cara menentukan kategori penumpang berdasarkan penilaian penumpang terhadap layanan?
- Bagaimana cara mengelompokkan penumpang berdasarkan tipe penumpang dan skala kepuasan mereka?
- Apakah keterlambatan keberangkatan dan kedatangan memiliki pengaruh terhadap kepuasan penumpang?
- Bagaimana perbandingan tingkat kepuasan penumpang antara kelas personal dan business?

### Tujuan - Widya

1. Mengidentifikasi layanan spesifik yang paling berkontribusi terhadap kepuasan penumpang dengan menganalisis korelasi antara berbagai aspek layanan dan tingkat kepuasan.
2. Menghitung nilai rata-rata dari seluruh layanan yang tersedia dalam dataset untuk memperoleh gambaran umum tentang kepuasan penumpang.
3. Melakukan analisis klasterisasi untuk mengelompokkan penumpang ke dalam segmen atau kategori berdasarkan pola penilaian mereka terhadap layanan yang diberikan.
4. Menggunakan teknik klasifikasi untuk membedakan penumpang berdasarkan tipe penumpang dan tingkat kepuasan yang mereka berikan terhadap layanan.
5. Melakukan analisis statistik untuk menentukan apakah terdapat hubungan antara tingkat kepuasan penumpang dengan tingkat keterlambatan keberangkatan dan kedatangan.
6. Melakukan perbandingan secara langsung antara kepuasan penumpang dari kelas personal dan business untuk mengetahui apakah terdapat perbedaan signifikan dalam pengalaman penumpang di kedua kelas tersebut.

### Eksplorasi Data - Widya

Menemukan pola hubungan antar kolom dan mengubah kolom kategorikal menjadi numerik untuk digunakan pada proses selanjutnya.

Melihat data yang sudah dibersihkan

In [32]:
df_merge

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
129483,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
129484,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
129485,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
129486,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

Menampilkan beberapa baris pertama dari dataset

In [50]:
print(df_merge.head())

       id  Gender  Customer Type  Age  Type of Travel  Class  Flight Distance  \
0   70172       1              0   13               1      2              460
1    5047       1              1   25               0      0              235
2  110028       0              0   26               0      0             1142
3   24026       0              0   25               0      0              562
4  119299       1              0   61               0      0              214

   Inflight wifi service  Departure/Arrival time convenient  \
0                      3                                  4
1                      3                                  2
2                      2                                  2
3                      2                                  5
4                      3                                  3

   Ease of Online booking  ...  Inflight entertainment  On-board service  \
0                       3  ...                       5                 4
1                       3  ...                       1                 1
2                       2  ...                       5                 4
3                       5  ...                       2                 2
4                       3  ...                       3                 3

   Leg room service  Baggage handling  Checkin service  Inflight service  \
0                 3                 4                4                 5
1                 5                 3                1                 4
2                 3                 4                4                 4
3                 5                 3                1                 4
4                 4                 4                3                 3

   Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes  \
0            5                          25                      18.0
1            1                           1                       6.0
2            5                           0                       0.0
3            2                          11                       9.0
4            3                           0                       0.0

   satisfaction
0             0
1             0
2             1
3             0
4             1

[5 rows x 24 columns]

Statistik deskriptif untuk data numerik

In [51]:
print(df_merge.describe())

                  id         Gender  Customer Type            Age  \
count  129487.000000  129487.000000  129487.000000  129487.000000
mean    64958.335169       0.492590       0.183138      39.428761
std     37489.781165       0.499947       0.386781      15.117597
min         1.000000       0.000000       0.000000       7.000000
25%     32494.500000       0.000000       0.000000      27.000000
50%     64972.000000       0.000000       0.000000      40.000000
75%     97415.500000       1.000000       0.000000      51.000000
max    129880.000000       1.000000       1.000000      85.000000

       Type of Travel          Class  Flight Distance  Inflight wifi service  \
count   129487.000000  129487.000000    129487.000000          129487.000000
mean         0.309236       0.593704      1190.210662               2.728544
std          0.462180       0.621371       997.560954               1.329235
min          0.000000       0.000000        31.000000               0.000000
25%          0.000000       0.000000       414.000000               2.000000
50%          0.000000       1.000000       844.000000               3.000000
75%          1.000000       1.000000      1744.000000               4.000000
max          1.000000       2.000000      4983.000000               5.000000

       Departure/Arrival time convenient  Ease of Online booking  ...  \
count                      129487.000000           129487.000000  ...
mean                            3.057349                2.756786  ...
std                             1.526787                1.401662  ...
min                             0.000000                0.000000  ...
25%                             2.000000                2.000000  ...
50%                             3.000000                3.000000  ...
75%                             4.000000                4.000000  ...
max                             5.000000                5.000000  ...

       Inflight entertainment  On-board service  Leg room service  \
count           129487.000000     129487.000000     129487.000000
mean                 3.358067          3.383204          3.351078
std                  1.334149          1.287032          1.316132
min                  0.000000          0.000000          0.000000
25%                  2.000000          2.000000          2.000000
50%                  4.000000          4.000000          4.000000
75%                  4.000000          4.000000          4.000000
max                  5.000000          5.000000          5.000000

       Baggage handling  Checkin service  Inflight service    Cleanliness  \
count     129487.000000    129487.000000     129487.000000  129487.000000
mean           3.631886         3.306239          3.642373       3.286222
std            1.180082         1.266146          1.176614       1.313624
min            1.000000         0.000000          0.000000       0.000000
25%            3.000000         3.000000          3.000000       2.000000
50%            4.000000         3.000000          4.000000       3.000000
75%            5.000000         4.000000          5.000000       4.000000
max            5.000000         5.000000          5.000000       5.000000

       Departure Delay in Minutes  Arrival Delay in Minutes   satisfaction
count               129487.000000             129487.000000  129487.000000
mean                    14.643385                 15.091129       0.434499
std                     37.932867                 38.465650       0.495693
min                      0.000000                  0.000000       0.000000
25%                      0.000000                  0.000000       0.000000
50%                      0.000000                  0.000000       0.000000
75%                     12.000000                 13.000000       1.000000
max                   1592.000000               1584.000000       1.000000

[8 rows x 24 columns]

Mengubah kolom kategorikal menjadi numerik menggunakan LabelEncoder dari Scikit-learn

In [52]:
label_encoder = LabelEncoder()
categorical_columns = df_merge.select_dtypes(include=['object']).columns.tolist()


for col in categorical_columns:
    df_merge[col] = label_encoder.fit_transform(df_merge[col])

Mampilkan hasil transformasi kolom kategorikal menjadi numerik

In [53]:
print(df_merge.head())

       id  Gender  Customer Type  Age  Type of Travel  Class  Flight Distance  \
0   70172       1              0   13               1      2              460
1    5047       1              1   25               0      0              235
2  110028       0              0   26               0      0             1142
3   24026       0              0   25               0      0              562
4  119299       1              0   61               0      0              214

   Inflight wifi service  Departure/Arrival time convenient  \
0                      3                                  4
1                      3                                  2
2                      2                                  2
3                      2                                  5
4                      3                                  3

   Ease of Online booking  ...  Inflight entertainment  On-board service  \
0                       3  ...                       5                 4
1                       3  ...                       1                 1
2                       2  ...                       5                 4
3                       5  ...                       2                 2
4                       3  ...                       3                 3

   Leg room service  Baggage handling  Checkin service  Inflight service  \
0                 3                 4                4                 5
1                 5                 3                1                 4
2                 3                 4                4                 4
3                 5                 3                1                 4
4                 4                 4                3                 3

   Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes  \
0            5                          25                      18.0
1            1                           1                       6.0
2            5                           0                       0.0
3            2                          11                       9.0
4            3                           0                       0.0

   satisfaction
0             0
1             0
2             1
3             0
4             1

[5 rows x 24 columns]

Mencari korelasi antar kolom numerik

In [54]:
correlation_matrix = df_merge.corr()
print("\nMatriks Korelasi:")
print(correlation_matrix)

Matriks Korelasi:
                                         id    Gender  Customer Type  \
id                                 1.000000 -0.001027       0.001359
Gender                            -0.001027  1.000000      -0.030803
Customer Type                      0.001359 -0.030803       1.000000
Age                                0.020443  0.008984      -0.284275
Type of Travel                    -0.000734  0.009215      -0.308210
Class                             -0.104469 -0.011655       0.042959
Flight Distance                    0.095027  0.003836      -0.226134
Inflight wifi service             -0.023242  0.005968      -0.005884
Departure/Arrival time convenient -0.002056  0.008772      -0.206916
Ease of Online booking             0.013247  0.006129      -0.018183
Gate location                     -0.000019 -0.000860       0.004647
Food and drink                    -0.000183  0.001631      -0.057126
Online boarding                    0.055428 -0.044850      -0.189329
Seat comfort                       0.052352 -0.030847      -0.156383
Inflight entertainment             0.001944  0.003798      -0.106157
On-board service                   0.055454  0.006441      -0.054040
Leg room service                   0.043914  0.031031      -0.046885
Baggage handling                   0.074618  0.036414       0.025015
Checkin service                    0.079154  0.008392      -0.031258
Inflight service                   0.078838  0.038176       0.023567
Cleanliness                        0.024425  0.002818      -0.081433
Departure Delay in Minutes        -0.017506  0.003111       0.004131
Arrival Delay in Minutes          -0.035657  0.001309       0.004730
satisfaction                       0.012990  0.011496      -0.185925

                                        Age  Type of Travel     Class  \
id                                 0.020443       -0.000734 -0.104469
Gender                             0.008984        0.009215 -0.011655
Customer Type                     -0.284275       -0.308210  0.042959
Age                                1.000000       -0.044910 -0.116967
Type of Travel                    -0.044910        1.000000  0.486598
Class                             -0.116967        0.486598  1.000000
Flight Distance                    0.099863       -0.267064 -0.427144
Inflight wifi service              0.015779       -0.105574 -0.024912
Departure/Arrival time convenient  0.036780        0.257208  0.087185
Ease of Online booking             0.022294       -0.133891 -0.094989
Gate location                     -0.000709       -0.029882 -0.005656
Food and drink                     0.023283       -0.068728 -0.080732
Online boarding                    0.207485       -0.223781 -0.297634
Seat comfort                       0.159229       -0.127404 -0.212241
Inflight entertainment             0.074990       -0.152708 -0.183178
On-board service                   0.056743       -0.059700 -0.210748
Leg room service                   0.038992       -0.139540 -0.198828
Baggage handling                  -0.048192       -0.032921 -0.166507
Checkin service                    0.033182        0.016530 -0.157380
Inflight service                  -0.051778       -0.023417 -0.159110
Cleanliness                        0.052575       -0.084257 -0.129715
Departure Delay in Minutes        -0.009263       -0.006336  0.009553
Arrival Delay in Minutes          -0.011248       -0.005830  0.014162
satisfaction                       0.134001       -0.449794 -0.448338

                                   Flight Distance  Inflight wifi service  \
id                                        0.095027              -0.023242
Gender                                    0.003836               0.005968
Customer Type                            -0.226134              -0.005884
Age                                       0.099863               0.015779
Type of Travel                           -0.267064              -0.105574
Class                                    -0.427144              -0.024912
Flight Distance                           1.000000               0.006554
Inflight wifi service                     0.006554               1.000000
Departure/Arrival time convenient        -0.018901               0.344846
Ease of Online booking                    0.064959               0.714888
Gate location                             0.005378               0.338547
Food and drink                            0.057136               0.132109
Online boarding                           0.215082               0.457422
Seat comfort                              0.157825               0.121373
Inflight entertainment                    0.130518               0.207887
On-board service                          0.111224               0.120028
Leg room service                          0.134548               0.160414
Baggage handling                          0.064810               0.120548
Checkin service                           0.073635               0.043847
Inflight service                          0.059182               0.110300
Cleanliness                               0.095658               0.131163
Departure Delay in Minutes                0.001992              -0.016046
Arrival Delay in Minutes                 -0.001935              -0.017749
satisfaction                              0.298206               0.283291

                                   Departure/Arrival time convenient  \
id                                                         -0.002056
Gender                                                      0.008772
Customer Type                                              -0.206916
Age                                                         0.036780
Type of Travel                                              0.257208
Class                                                       0.087185
Flight Distance                                            -0.018901
Inflight wifi service                                       0.344846
Departure/Arrival time convenient                           1.000000
Ease of Online booking                                      0.437697
Gate location                                               0.447411
Food and drink                                              0.001057
Online boarding                                             0.072175
Seat comfort                                                0.008707
Inflight entertainment                                     -0.008189
On-board service                                            0.067046
Leg room service                                            0.010634
Baggage handling                                            0.070646
Checkin service                                             0.091217
Inflight service                                            0.072166
Cleanliness                                                 0.010021
Departure Delay in Minutes                                  0.000610
Arrival Delay in Minutes                                   -0.000942
satisfaction                                               -0.054457

                                   Ease of Online booking  ...  \
id                                               0.013247  ...
Gender                                           0.006129  ...
Customer Type                                   -0.018183  ...
Age                                              0.022294  ...
Type of Travel                                  -0.133891  ...
Class                                           -0.094989  ...
Flight Distance                                  0.064959  ...
Inflight wifi service                            0.714888  ...
Departure/Arrival time convenient                0.437697  ...
Ease of Online booking                           1.000000  ...
Gate location                                    0.460155  ...
Food and drink                                   0.030638  ...
Online boarding                                  0.404944  ...
Seat comfort                                     0.028602  ...
Inflight entertainment                           0.046669  ...
On-board service                                 0.039039  ...
Leg room service                                 0.109341  ...
Baggage handling                                 0.039215  ...
Checkin service                                  0.008835  ...
Inflight service                                 0.035356  ...
Cleanliness                                      0.015150  ...
Departure Delay in Minutes                      -0.005330  ...
Arrival Delay in Minutes                        -0.007033  ...
satisfaction                                     0.168704  ...

                                   Inflight entertainment  On-board service  \
id                                               0.001944          0.055454
Gender                                           0.003798          0.006441
Customer Type                                   -0.106157         -0.054040
Age                                              0.074990          0.056743
Type of Travel                                  -0.152708         -0.059700
Class                                           -0.183178         -0.210748
Flight Distance                                  0.130518          0.111224
Inflight wifi service                            0.207887          0.120028
Departure/Arrival time convenient               -0.008189          0.067046
Ease of Online booking                           0.046669          0.039039
Gate location                                    0.002751         -0.029109
Food and drink                                   0.623366          0.057476
Online boarding                                  0.284008          0.154272
Seat comfort                                     0.611949          0.130654
Inflight entertainment                           1.000000          0.418863
On-board service                                 0.418863          1.000000
Leg room service                                 0.300573          0.357877
Baggage handling                                 0.379291          0.520400
Checkin service                                  0.119664          0.244620
Inflight service                                 0.406561          0.551460
Cleanliness                                      0.692491          0.122208
Departure Delay in Minutes                      -0.027166         -0.030471
Arrival Delay in Minutes                        -0.030230         -0.034789
satisfaction                                     0.398334          0.322329

                                   Leg room service  Baggage handling  \
id                                         0.043914          0.074618
Gender                                     0.031031          0.036414
Customer Type                             -0.046885          0.025015
Age                                        0.038992         -0.048192
Type of Travel                            -0.139540         -0.032921
Class                                     -0.198828         -0.166507
Flight Distance                            0.134548          0.064810
Inflight wifi service                      0.160414          0.120548
Departure/Arrival time convenient          0.010634          0.070646
Ease of Online booking                     0.109341          0.039215
Gate location                             -0.005146          0.001097
Food and drink                             0.033215          0.035413
Online boarding                            0.123149          0.083563
Seat comfort                               0.104244          0.074617
Inflight entertainment                     0.300573          0.379291
On-board service                           0.357877          0.520400
Leg room service                           1.000000          0.371599
Baggage handling                           0.371599          1.000000
Checkin service                            0.152715          0.234732
Inflight service                           0.369833          0.629492
Cleanliness                                0.096777          0.097107
Departure Delay in Minutes                 0.014339         -0.004425
Arrival Delay in Minutes                   0.011346         -0.007935
satisfaction                               0.312557          0.248651

                                   Checkin service  Inflight service  \
id                                        0.079154          0.078838
Gender                                    0.008392          0.038176
Customer Type                            -0.031258          0.023567
Age                                       0.033182         -0.051778
Type of Travel                            0.016530         -0.023417
Class                                    -0.157380         -0.159110
Flight Distance                           0.073635          0.059182
Inflight wifi service                     0.043847          0.110300
Departure/Arrival time convenient         0.091217          0.072166
Ease of Online booking                    0.008835          0.035356
Gate location                            -0.039294          0.000337
Food and drink                            0.085103          0.035424
Online boarding                           0.204215          0.073973
Seat comfort                              0.189838          0.068912
Inflight entertainment                    0.119664          0.406561
On-board service                          0.244620          0.551460
Leg room service                          0.152715          0.369833
Baggage handling                          0.234732          0.629492
Checkin service                           1.000000          0.237737
Inflight service                          0.237737          1.000000
Cleanliness                               0.176611          0.090565
Departure Delay in Minutes               -0.018632         -0.054329
Arrival Delay in Minutes                 -0.021705         -0.059853
satisfaction                              0.237146          0.245027

                                   Cleanliness  Departure Delay in Minutes  \
id                                    0.024425                   -0.017506
Gender                                0.002818                    0.003111
Customer Type                        -0.081433                    0.004131
Age                                   0.052575                   -0.009263
Type of Travel                       -0.084257                   -0.006336
Class                                -0.129715                    0.009553
Flight Distance                       0.095658                    0.001992
Inflight wifi service                 0.131163                   -0.016046
Departure/Arrival time convenient     0.010021                    0.000610
Ease of Online booking                0.015150                   -0.005330
Gate location                        -0.006066                    0.005943
Food and drink                        0.658026                   -0.029351
Online boarding                       0.329331                   -0.019319
Seat comfort                          0.679657                   -0.027711
Inflight entertainment                0.692491                   -0.027166
On-board service                      0.122208                   -0.030471
Leg room service                      0.096777                    0.014339
Baggage handling                      0.097107                   -0.004425
Checkin service                       0.176611                   -0.018632
Inflight service                      0.090565                   -0.054329
Cleanliness                           1.000000                   -0.014553
Departure Delay in Minutes           -0.014553                    1.000000
Arrival Delay in Minutes             -0.016546                    0.965291
satisfaction                          0.306891                   -0.051032

                                   Arrival Delay in Minutes  satisfaction
id                                                -0.035657      0.012990
Gender                                             0.001309      0.011496
Customer Type                                      0.004730     -0.185925
Age                                               -0.011248      0.134001
Type of Travel                                    -0.005830     -0.449794
Class                                              0.014162     -0.448338
Flight Distance                                   -0.001935      0.298206
Inflight wifi service                             -0.017749      0.283291
Departure/Arrival time convenient                 -0.000942     -0.054457
Ease of Online booking                            -0.007033      0.168704
Gate location                                      0.005658     -0.002923
Food and drink                                    -0.031715      0.211164
Online boarding                                   -0.022730      0.501620
Seat comfort                                      -0.030521      0.348576
Inflight entertainment                            -0.030230      0.398334
On-board service                                  -0.034789      0.322329
Leg room service                                   0.011346      0.312557
Baggage handling                                  -0.007935      0.248651
Checkin service                                   -0.021705      0.237146
Inflight service                                  -0.059853      0.245027
Cleanliness                                       -0.016546      0.306891
Departure Delay in Minutes                         0.965291     -0.051032
Arrival Delay in Minutes                           1.000000     -0.058275
satisfaction                                      -0.058275      1.000000

[24 rows x 24 columns]

Menyimpan data yang telah diubah

In [55]:
output_file_path = './Dataset/Airline-Passenger-Satisfaction/hasil_eksplorasi_data.csv'
df_merge.to_csv(output_file_path, index=False)

Melihat data yang telah diubah

In [56]:
df_merge

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,1,0,13,1,2,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,0
1,5047,1,1,25,0,0,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,0
2,110028,0,0,26,0,0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,1
3,24026,0,0,25,0,0,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,0
4,119299,1,0,61,0,0,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,78463,1,1,34,0,0,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,0
129483,71167,1,0,23,0,0,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,1
129484,37675,0,0,17,1,1,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,0
129485,90086,1,0,14,0,0,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,1
129486,34799,0,0,42,1,1,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,0

### Klasifikasi - Kemas

Menganalisis data dengan metode klasifikasi menggunakan algoritma `Naive Bayes` dan visualisasi.

### Klustering - Adinda

Menganalisis data dengan metode klustering menggunakan algoritma `K-Means` dan visualisasi.